<!DOCTYPE html>
<html>
<head>
    <title>React demo</title>

    {{> links}}
</head>
<body>

    <div class="container">
        <h1>React demo</h1>
        {{> main}}
    </div>

    {{> scriptsBottom}}
</body>
</html>